@charset "UTF-8";

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: black;
    font-weight: 200;
    
}

h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 2em;
font-weight: 500;
color: black; 
}